

nav{
    height: 40px;
    background: #00c2cb;
    
   
}

nav ul{
    display: grid;
    grid-template-columns: 90px 45px 80px auto;
    list-style-type: none;
    line-height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 5px;
}

.car{
    margin-right: 5px;
}