main{
    margin: 0;
}
main p{
    margin-top: 80px;
    width: 250px;
    text-align: center;
    margin-left: 35PX;
}

main button{
    width: 180px;
    margin-left: 70px;
    margin-top: 100px;
    background: #00c2cb;
}

main img{
    width: 180px;
    margin-left: 70px;
}