header{
    height: 100px;
    background: black;
}

img{
    position: absolute;
    margin-left: 25px;
    width: 200px;
    height: 100px;
}

.logo{
    margin-left: 35px;
    width: 180px;
    height: 80px;
    margin-top: 80px;
    position: relative;
}